<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diesel.htweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.DFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.App.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name=".service.AreaIntentService" />
        <service android:name=".service.JobIntentService" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="g0yjMVUM2cwVmCN66oGL2ehXWL6aGvG3" />

        <activity android:name=".farming.CityManageActivity" />
        <activity android:name=".farming.LocationActivity" />
        <activity android:name=".farming.MessageActivity" />
        <activity android:name=".farming.MessageDetailsActivity" />
        <activity android:name=".farming.FarmingListActivity" />
        <activity android:name=".farming.FarmingDetailsActivity" />
        <activity android:name=".farming.WeatherTrendActivity" />
        <activity
            android:name=".farming.TruthDataSettingActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <activity android:name=".user.EditUserInfoActivity" />
        <activity android:name=".user.SystemSettingActivity" />
        <activity android:name=".user.HelpCenterActivity" />
        <activity android:name=".user.PlantAndAreaActivity" />
        <activity android:name=".user.RealNameAuthActivity" />
        <activity
            android:name=".user.GatherDataActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".user.EditProblemActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".user.ActualFarmingSettingActivity" />
        <activity android:name=".user.AddCropsActivity" />
        <!--<activity android:name=".user.AddWatchPlantActivity" />-->
        <activity android:name=".user.AboutAppActivity" />
        <activity android:name=".user.FeedbackActivity" />
        <activity android:name=".user.ModifyPasswordActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".user.RegisterActivity" />
        <activity android:name=".user.FindPasswordActivity" />
        <activity android:name=".user.CommonWebActivity" />

        <activity android:name=".depthservice.SettingFacilitiesActivity" />
        <activity android:name=".depthservice.FacilitiesActivity" />
        <activity android:name=".depthservice.FacilitiesDetailsActivity" />
        <activity android:name=".depthservice.GrowthDiaryActivity" />
        <activity android:name=".depthservice.GrowthDiaryDetailsActivity" />
        <activity android:name=".depthservice.ProfileActivity" />
        <activity android:name=".depthservice.AgricultureDoctorActivity" />
        <activity android:name=".depthservice.OnlineAdvisoryActivity" />
        <activity android:name=".depthservice.OnlineAdvisoryDetailsActivity" />
        <activity android:name=".depthservice.FarmingAdviceActivity" />
        <activity
            android:name=".depthservice.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    </application>

</manifest>